body {
    background-color: #611987;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.encabezado {
    height: 16vh;
    background-color: #1a0425;
    position: fixed; 
    width: 100%;
    top: 0; 
    left: 0;
    z-index: 1000; 
    display: grid;
    grid-template-columns: 45px 1fr 55px;
    grid-template-rows: 1fr;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 10px 0px;
}

.modal-menu{
    display:  none;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: white;
    z-index: 2;
    box-sizing: border-box;

    padding: 20px;
    transform: none;
    font-size: 20px;
    background-color: #611987;
}

.centrarMenu
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.centrarEnlace
{
    justify-self: center;
    align-content: center;
    width: 70px;
    height: 70px;
}

.menu{
    /* display: block; */
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    grid-column: 1 / 3;
    grid-row: 1;
}

.logo
{
    display: block;
    width: 70px;
    height: 70px;
}

.card-products-container {
    margin: 22vh auto 0 auto;
}

.card-products {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-products img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
}

.contenedorCarrito
{
    width: 60px;
}

.cart-btn {

    background-color: rgb(242, 145, 234);
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

.cart-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container {
    display: none;
    color: white;
    font-size: 20px;
    background-color: #611987;
    box-shadow: 0px 3px 6px black;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 2;
    max-height: 80vh;
    overflow-y: auto;
}

.cart-counter {
    position: absolute;
    top: 1px;
    color: #fff;
    text-align: center;
    background-color: red;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
    z-index: 1001;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #35034f;
    padding: 20px;
    border-radius: 20px;
    font-size: 10px;
}

.delete-product {
    margin-left: 2em;
    cursor: pointer;
}

.product-img {
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 200px;
    padding: 0 15px;
}

.quantity-btn-decrese,
.quantity-btn-increse {
    color: white;
    cursor: pointer;
    width: 28px;
    font-weight: bold;
}

.quantity-input {
    color: white;
    text-align: center;
    width: 50px;
    font-weight: bold; 
}


.product-info {
    flex: 1;
    text-align: center;
    width: 250px;

}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-close {
    float: right;
    cursor: pointer;
}

.headerMenu
{
    height: 50px;
}

.modal-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.modal-body {
    margin-bottom: 20px;
    text-align: center;
}

@media only screen and (max-width: 500px) {

    .modal-body {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.price {
    font-weight: bold;
}



.modal-footer {
    text-align: center;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}



.btn-primary {
    background-color: #d010ca;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: background-color 0;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 60px;
}

.btn-primary:hover {
    background-color: #aa15a5;
    border-color: #941390;
}

#button-checkout {
    z-index: 10;
}

.content 
{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #35034f  ;
    font-size: 20px;
}

.card-products button:hover {
    opacity: 0.7;
}

.botonComprar {
    width: 100%;
    padding: 10px;  
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d010ca;
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 15px;
}

.botonComprar:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nombreProducto
{
    width: 250px;
    margin-bottom: 0px;
}

/* Efecto carrito */

.glow {
    animation: glowEffect 2s ease-in-out forwards;
}

@keyframes glowEffect {
    0% {
        box-shadow: 0 0 5px #ff05ee, 0 0 10px #ff05ee, 0 0 15px #ff05ee, 0 0 20px #ff05ee;
    }
    50% {
        box-shadow: 0 0 20px #ff05ee, 0 0 30px #ff05ee, 0 0 40px #ff05ee, 0 0 50px #ff05ee;
    }
    100% {
        box-shadow: 0 0 0px #ff05ee, 0 0 0px #ff05ee, 0 0 0px #ff05ee, 0 0 0px #ff05ee;
    }
}

.MasInformacion
{
    text-decoration: none;
    color: rgb(247, 5, 255);
    margin-top: 80px;
}

.MasInformacion:visited
{
    color: rgb(247, 5, 255);
}
.MasInformacion:hover
{
    color: white;
}

.imagenInformacion
{
    width: 100px;
    height: 100px;
}

.tituloInformacion
{
    color: #68d5d3;
    text-align: center;
    text-decoration:underline;
    font-size: 35px;
}

.bodyInformacion
{
    display: flex;
    flex-direction: column;
    /* height: 95vh; */
    align-items: center;
    margin-top: 20px;
}

h2 
{
    color: #68d5d3;
    margin: 10px;
    text-align: center;
    text-decoration:underline;
}

p 
{
    margin: 5px;
}

.caracteristicasInformacion
{
    border: solid 1px #68d5d3;
    border-radius: 10px;
    width: 87%;
    padding: 20px;
}

.descripcionInformacion
{
    border: solid 1px #68d5d3;
    border-radius: 10px;
    padding: 20px;
}

.icono
{
    width: 40px;
    height: 40px;
}

.icono:hover
{
    cursor: pointer;
}

.footerInformacion
{
    margin-top: 25px;
}


.precio
{
    margin: 15px 0px;
}

.contenedorFooter
{
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.741);
    height: 100px;
    font-size: 12px;
    background-color: #150015;
}

.contenedorFooter h1 
{
    margin: 15px 0;
}

.contenedorFooter a 
{
    margin-right: 30px ;
}

.wpp-btn {
    z-index: 1000;
    position: fixed;
    top: 93%;
    right: 5px;
    padding: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    transition: transform 0.2s ease-in-out;
    background-color:#25D366;
}

.wpp-btn:hover 
{
    cursor: pointer;
}

.contenedorBuscador
{
    grid-column: 1/4 ;
    grid-row: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buscadorProductos 
{
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    width: 95%;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}


@media (max-width: 500px) {

    .modal-informacion
    {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        transform: none;
        font-size: 20px;
        background-color: #611987;
        z-index: 2;
        overflow-y: auto;
        color: white;
    }

    .modal-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        transform: none;
    }

    .card-products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }

    .cart-btn {
        top: 5vh;
        right: 12px;
    }

    .cart-counter {
        top: 15px;
        right: 5px;
    }

    .product
    {
        font-size: 15px;
    }

    .delete-product {
        margin-left: 5px;
        cursor: pointer;
        width: 10%;
    }

    .quantity 
    {
        padding: 0 5px;
        width: 20%;
    }

    .product-img
    {
        width: 40px;
        height: 40px;
        margin: 0;
    }
    
    .product-info {
        flex: 1;
        text-align: center;
        width: 40%;

    }

    .price {
        width: 20%;
    }

    
}

.bodyMenu
{
    height: 100%;

}

.contenedorOpcionesMenu
{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.opcionMenu 
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(247, 5, 255);
    width: 300px;
    background-color: rgb(0, 0, 0);
    font-size: 30px;

}

.opcionMenu:visited
{
    color: rgb(247, 5, 255);
}
.opcionMenu:hover
{
    color: white;
}

.imagenItem
{
    margin-top: 5px;
}

.modal-sobreMi
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transform: none;
    font-size: 20px;
    background-color: #ee73de;
    z-index: 2;
    overflow-y: auto;
    color: white;
    margin: 13vh auto 0 auto;

    
}

.contenedorImgSobreMi
{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgMama
{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid black;
}

.tituloSobreMi
{
    text-align: center;
    color: #570946;

    font-family: 'Arial', sans-serif; /* Fuente */
    font-size: 1em; /* Tamaño del texto */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    text-shadow: 2px 2px 4px rgb(255, 255, 255);

    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformar texto a mayúsculas */
    border: 2px solid #ccc; /* Borde */
    margin: 20px auto; /* Margen */
    width: fit-content; /* Ajustar ancho al contenido */
    
}

.contenedorImgSobreMi
{
    margin-top: 30px;
}

.descripcionSobreMi
{
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    color: #000000;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.modal-tarot
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 80px;
    padding-top: 30px;
    box-sizing: border-box;
    overflow-y: auto;
    transform: none;
    font-size: 20px;
    background-color: #d026ff;
    z-index: 2;
    color: white;
    margin: 12vh auto 0 auto;

    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .modal-tarot .contenedor 
{

    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #35034f  ;
    font-size: 20px;
    margin: 0;

} */

.modal-tarot img 
{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    
}